/* General AnchorPane */
.anchor-pane {
    -fx-background-color: linear-gradient(to bottom right, #f8f0f8, #e0f7fa);
}

/* Labels */
.important-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: linear-gradient(to right, #7b1fa2, #e91e63);
}

.label-field {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #3f51b5;
}

/* TextField & PasswordField */
.input-field {
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: #7b1fa2;
    -fx-border-width: 2;
    -fx-padding: 5 10 5 10;
    -fx-font-size: 14px;
}

/* Buttons */
.button {
    -fx-font-size: 14px;
    -fx-background-radius: 8;
    -fx-padding: 6 20 6 20;
    -fx-cursor: hand;
}

/* Primary Button */
.primary-button {
    -fx-background-color: linear-gradient(to right, #7b1fa2, #e91e63);
    -fx-text-fill: white;
}
.primary-button:hover {
    -fx-background-color: linear-gradient(to right, #e91e63, #7b1fa2);
}
